@mixin flex($direction: row, $justify: null, $align: null, $wrap: wrap) {
  display: flex;
  flex-direction: $direction;
  @if ($justify != null) {
    justify-content: $justify;
  }
  @if ($align != null) {
    align-items: $align;
  }
  flex-wrap: $wrap;
}
@mixin hpad($v) {
  padding: {
    left: $v;
    right: $v;
  }
}
@mixin vpad($v) {
  padding: {
    top: $v;
    bottom: $v;
  }
}

@mixin reset($tag) {
  @if ($tag == ul) {
    padding: 0px;
    list-style: none;
    margin: 0px;
  }
}

@mixin square($v) {
  height: $v;
  width: $v;
}