@import "vars";
@import "mixins";

html, body {
  margin: 0; padding: 0;
}

* {
  box-sizing: border-box;
}

ul {
  @include reset(ul);
}

.banner {
  background-color: white;
  height: $header-height;
  border-bottom: 1px solid #3131;
  position: fixed;
  left:0;
  right: 0;
  top: 0;
  z-index: 10;
}

section, .banner, .details {
  @include hpad($default-horizontal-padding);
}

.skip-banner {
  margin-top: $header-height * 1.5;
}

.list {
  ul {
    margin-top: 5%;
    @include flex($align: center, $justify: center);
    border: 1Px solid;
    > * {
      margin: 1em;
    }
  }
}

.item {
  padding: 1em;
  display: inline-flex;
  $height: 15em;
  height: $height;
  width: $height * 1.63;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.2);
  border-radius: .2em;
  h1 {
    margin: 0px;
  }
  &-header {
    height: 14%;
    width: 100%;
    @include flex($align: center, $justify: space-between);
    &-pages {
      @include flex($align: center);
      > * {
        margin-left: .5em;
      }
      img {
        @include square(1.5em);
        display: block;
      }
    }
  }
}